#experience-card {
    background-color: #ffffff;
    border: 1px solid #dee2e6;
    border-radius: 8px;
}

.font-bold {
    font-weight: 700;
}

.desc-font-small {
    font-size: .875rem;
}

.employer-image {
    width: 40px;
}

.experience-row {
    border: 1px solid #dee2e6;
    border-radius: 8px;
}

.expand-btn {
    color: #0064DC !important;
}